<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Guilherme Nicchio - Portfolio</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Fontawesome Icons -->
    <link href="static/css/all.min.css" rel="stylesheet" />

    <!-- Icons -->
    <link href="static/img/icon.png" rel="icon" />
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="static/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="static/vendor/owl.carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="static/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container-fluid d-flex">
        <div class="logo mr-auto">
          <a href="index.html"
            ><img src="#" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#about">Sobre mim</a></li>
            <li><a href="#services">Tecnologias</a></li>

            <li><a href="#contact">Contatos</a></li>
        

            <li class="get-started">
              <a
                href="https://drive.google.com/file/d/1XOxKTPe0yvNzHGYy_8z_Hd2glQQXZ20h/view?usp=sharing"
                target="_blank"
                >CURRÍCULO</a
              >
            </li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1">
            <h1>Prazer,</h1>
            <h1>Eu sou o Guilherme!</h1>
            <h2>Desenvolvedor Full-Stack</h2>
            <a
              href="https://wa.me/5519986014198?text=Ol%C3%A1%2C%20tudo%20bem%3F"
              class="btn-get-started"
              target="_blank"
              >Vamos conversar?!
            </a>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="static/img/banner-image.png"
              class="img-fluid animated"
              alt=""
              width="70%"
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="col-lg-5 d-flex align-items-center justify-content-center about-img"
            >
              <img
                src="static/img/about-me.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">Sobre mim</h3>
              <p></p>
              <p data-aos="fade-up" data-aos-delay="90">
                Atualmente estou Estudando as tecnologias de um desenvolvedor Full-Stack.
              </p>
              <p data-aos="fade-up" data-aos-delay="90">
                Cursando Ciências da computação na Unimax indaiatuba, formado
                em Engenharia Elétrica. ​
              </p>

              <p data-aos="fade-up" data-aos-delay="90">
                <strong
                  >HTML, CSS, SASS, Styled-Components, JavaScript, jQuery, React
                  JS, VTEX, Material UI, Git, Swagger e Figma.​</strong
                >
              </p>

              <p data-aos="fade-up" data-aos-delay="10">
                <a
                  href="https://drive.google.com/file/d/113RMLcFjLXkkG7vErbjcZV6y3qCspss1/view?usp=sharing"
                  class="btn-get-cv"
                  target="_blank"
                >
                  Confira meu CV
                </a>
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Tecnologias</h2>
            <p>Confira as tecnologias que mais utilizo</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-html5"></i></div>
                <h4 class="title"><a>HTML</a></h4>
                <p class="description">
                  HTML é uma linguagem de marcação utilizada na construção de
                  páginas web
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-css3-alt"></i></div>
                <h4 class="title"><a>CSS</a></h4>
                <p class="description">
                  O CSS define como serão exibidos os elementos contidos no
                  código
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-sass"></i></div>
                <h4 class="title"><a>SASS</a></h4>
                <p class="description">
                  Com ele podemos dar "super poderes" ao nosso CSS
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-js"></i></div>
                <h4 class="title"><a>JavaScript</a></h4>
                <p class="description">
                  Uma das linguagens de programação mais utilizadas hoje em dia
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-react"></i></div>
                <h4 class="title"><a>React JS</a></h4>
                <p class="description">
                  Biblioteca usada para construir interface de usuário (UI)
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-react"></i></div>
                <h4 class="title"><a>React Native</a></h4>
                <p class="description">
                  Framework para desenvolvimento de aplicativos para Android e
                  iOS de forma nativa
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-git-alt"></i></div>
                <h4 class="title"><a>Git</a></h4>
                <p class="description">
                  É um sistema de controle de versões distribuído
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="fab fa-figma"></i></div>
                <h4 class="title"><a>Figma</a></h4>
                <p class="description">
                  É um editor gráfico de vetor e prototipagem de projetos de
                  design
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Services Section -->

      

      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Contatos</h2>
            <p>Entre em contato para começarmos</p>
          </div>

          <div class="row justify-content-center">
            <div
              class="col-lg-5 d-flex align-items-stretch justify-content-center"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Localização:</h4>
                  <p>Indaiatuba - SP, Brasil</p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>guilhermenicchio002@gmail.com</p>
                </div>

                <div class="phone">
                  
                    <i class="icofont-whatsapp"></i>
                  
                  <h4>Telefone:</h4>
                  <p>(19) 98601-4198</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    <footer id="footer">
      <section id="social" class="social">
        <div class="footer-top">
          <div class="container">
            <div
              class="row justify-content-center"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="footer-links">
                <p>PPI- 4°SEMESTRE</p>
                
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Lembra da moralzinha que falei lá no começo? -->
      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>guilherme Nicchio</span></strong> 2024
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/vendor/venobox/venobox.min.js"></script>
    <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="static/js/main.js"></script>
  </body>
</html>
